@import "../../../sass/vars.scss";
@import "../../../sass/mixins.scss";

#account {
    background-color: white;
    border: $tb-red;
}

bim-user-boundaries, bim-user-history {
    display: inline-block;
}