@import "../../../sass/vars.scss";
@import "../../../sass/mixins.scss";


.pill {
    padding: 10px;
    background-color: $medium;
    color: $dark;
    border-radius: 20px;
    margin: 10px 0;
    width: 225px;
    text-align: left;
    font-size: 10px;
    @include respond-to($tablet-portrait-up) {
        width: 400px;
    }
    @include respond-to($desktop-up) {
        width: 650px;
    }
}