@import "../../../sass/vars.scss";
@import "../../../sass/mixins.scss";

.login-form {
    @include size(225px, 350px);
    @include respond-to($tablet-portrait-up) {
        @include size(400px, 500px);
    } 
    @include respond-to($desktop-up) {
        @include size(500px);
    } 
}
.register-form {
    @include size(250px, 550px);
    @include respond-to($tablet-portrait-up) {
        @include size(400px, 600px);
    } 
    @include respond-to($desktop-up) {
        @include size(500px, 700px);
    } 
}
.auth-wrapper {
    transform: translate(-50%, -50%);
   @include position(fixed, top 50% left 50%);
   background-color: $light;
   border-radius: 10px;
   padding: 10px;
   box-shadow: 0 2px 5px 0 rgba(0,0,0,0.26), 0 2px 10px 0 rgba(0,0,0,0.16);
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   z-index: 2;
   @include respond-to($tablet-portrait-up) {
    padding: 20px;
   }

   img {
       @include size(75px);
       margin: 10px 0;
       @include respond-to($tablet-portrait-up) {
        @include size(100px);
       }
       @include respond-to($desktop-up) {
           margin: 20px;
        @include size(125px);
       }
   }
   h3 {
    color: $dark;
    font-size: 24px;
    margin: 10px 0;
    @include respond-to($tablet-portrait-up) {
        margin: 15px 0;
        font-size: 30px;
    }
       @include respond-to($desktop-up) {
        margin: 20px 0;
    }
   }
   button {
    margin: 10px 0;
    @include size(150px, 35px);
    color: $light;
    background-color: $primary;
    border-radius: 5px;
    transition: ease-in-out background-color .15s, ease-in-out border .15s;
        &:hover {
            background-color: $primary;
            border: 1px solid $light;
        }
        @include respond-to(400) {
            @include size(200px, 35px);
        }
        @include respond-to($tablet-portrait-up) {
            margin: 15px 0;
            @include size(300px, 55px);
        }
        @include respond-to($desktop-up) {
            margin: 20px 0;
            @include size(300px, 55px);
        }
    }
}