<form autocomplete="off" [formGroup]="form" class="registerForm">
  <div class="formWrapper">
    <fieldset>
      <mat-form-field>
        <input matInput placeholder="*Email:" name="email" formControlName="email" type="email">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="*Password:" name="password" formControlName="password" type="password">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="*Confirm Password:" name="confirmPass" formControlName="confirmPass"type="password">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Alias (optional):" name="alias" formControlName="alias" type="text">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Zip Code (optional):" name="zipCode" formControlName="zipCode" type="text">
      </mat-form-field>
    </fieldset>
  </div>
</form>