@import "../../../sass/vars.scss";
@import "../../../sass/mixins.scss";

img {
  max-width: 700px;
  @include respond-to($desktop-up) {
    max-width: 1000px;
  }
  @include respond-to($large-desktop-up) {
    max-width: 1400px; 
  }
}
mat-dialog-actions {
  position: fixed;
  margin-top: 5px;
  button {
    margin: 0px 5px;
  }
}