<div *ngIf="!authInfo.$uid">
  <!-- login and signup button container (contains both buttons) -->
  <div class="login-signup-container">
    <button (click)="openLogin()" mat-raised-button>Log In</button>
    <button (click)="openSignup()" mat-raised-button>Sign Up</button>
  </div>
  <!-- tablet to mobile hamburger menu -->
  <div class="tablet-menu" mat-icon-button [matMenuTriggerFor]="tabletMenu">
    <i class="fas fa-bars"></i>
  </div>
</div>

<mat-menu #tabletMenu="matMenu" [overlapTrigger]="false">
  <button mat-menu-item (click)="openLogin()">
    <span>Login</span>
  </button>
  <button mat-menu-item (click)="openSignup()">
    <span>Signup</span>
  </button>
</mat-menu>

<div *ngIf="authInfo.$uid" class="user-account-container">
  <button class="account-btn" [matMenuTriggerFor]="loggedInMenu">
    <img src="http://fillmurray.com/300/300" alt="Phill Murray">
    <p>{{authInfo.displayName || authInfo.email}}</p>
  </button>
</div>

<mat-menu #loggedInMenu="matMenu" class="account-menu" [overlapTrigger]="false">
  <button mat-menu-item (click)="openAccount()">
    <i class="fas fa-user-circle"></i>
    <span>Account</span>
  </button>
  <button mat-menu-item (click)="signout()">
    <span>Sign Out</span>
  </button>
</mat-menu>