@import "../../../sass/vars.scss";
@import "../../../sass/mixins.scss";

.toggle-btn {
	@include position(fixed, top 400px left 20px);
}

.boundary-post-container {
	@include position(fixed, top 75px right 0px);
	@include size(0px);
	background-color: $light;
	z-index: 3;
	border-radius: 10px;
	padding: 20px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	opacity: 0;
	transition: all 400ms ease-in-out;
	&.clicked {
		opacity: 1;
		@include size(300px, 500px);
		@include respond-to($tablet-portrait-up) {
			@include size(300px, 700px);
		}
		@include respond-to($desktop-up) {
			@include size(375px, 750px);
		}
	}
}

.boundary-name-close-btn {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	h2 {
		font-size: 20px;
		color: $dark;
		margin: 20px 0px;
		@include respond-to($tablet-portrait-up) {
			font-size: 24px;
		}
	}
	.close-btn {
		color: $dark;
		cursor: pointer;
		transition: all ease-in-out .2s;
		display: inline-block;
		&:hover {
			color: $primary;
		}
	}
}

mat-accordion {
	width: 100%;
	margin: 20px 0;
	overflow-y: auto;
	mat-expansion-panel {
		margin: 10px 0;
		background-color: $light;
		mat-expansion-panel-header {
			background-color: $medium;
		}
	}
}

.author {
	color: $dark;
	font-size: 14px; 
	margin: 10px 0;
}

.images-container {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	.main-image {
		@include size(250px, 150px);
		box-shadow: 0 2px 4px 0 rgba(0,0,0,0.50);
		border-radius: 10px;
		margin: 0 0 10px 0;
		align-self: center;
		@include respond-to($desktop-up) {
			@include size(325px, 175px);
		}
	}

	.picture-box {
		width: 100%;
		.img-thumbnail {
			margin: 10px 10px 10px 0;
			img {
				@include size(65px, 45px);
				border-radius: 5px;
				box-shadow: 0 2px 4px 0 rgba(0,0,0,0.50);
			}
		}
	}
}

.post-body-text {
	text-align: left;
	color: $dark;
	font-size: 12px;
	margin: 10px 0;
}

.download-btns {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	button {
		color: $light;
		font-size: 14px;
		margin: 5px 0;
		width: 175px;
	}
}

.post-btn {
	color: $light;
	@include position(absolute, bottom 15px right 15px);
	z-index: 4;
}