@import "../../../sass/vars.scss";
@import "../../../sass/mixins.scss";

.toggle-btn {
	@include position(fixed, top 400px left 20px);
}

.boundary-post-container {
	@include position(fixed, top 75px right 0px);
	background-color: $light;
	z-index: 3;
	border-radius: 10px;
	padding: 20px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	opacity: 0;
  transition: all 400ms ease-in-out;
  &.unclicked {
    @include size(0px);
  }
	&.clicked {
		opacity: 1;
    min-height: 300px;
    max-height: 700px;
    @include respond-to($tablet-portrait-up) {
      width: 300px;
		}
		@include respond-to($desktop-up) {
      width: 375px;
		}
	}
}

.boundary-name-close-btn {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	h2 {
		font-size: 20px;
		color: $dark;
		margin: 20px 0px;
		@include respond-to($tablet-portrait-up) {
			font-size: 24px;
		}
	}
	.close-btn {
		color: $dark;
		cursor: pointer;
		transition: all ease-in-out .2s;
		display: inline-block;
		&:hover {
			color: $primary;
		}
	}
}

mat-accordion {
	width: 100%;
	margin: 20px 0 60px 0;
  max-height: 555px; 
  overflow-y: auto;
}

mat-form-field {
  width: 100%;
}

.post-btn {
	color: $light;
	@include position(absolute, bottom 15px right 15px);
	z-index: 4;
}

#post-btns {
  margin-top: 20px;
}