<mgl-map
  [style]="style"
  [zoom]="[9]"
  [center]="center"
  (load)="mapLoaded($event)"
  [fitBounds]="bounds"
></mgl-map>
<bim-boundary-details-menu
  [draw]="draw"
  [newFeatureId]="newFeatureId"
  [map]="map"
  [selectedFeature]="selectedFeature"
  (hideMenuRequest)="hideMenu()"
></bim-boundary-details-menu>
<bim-boundary-post
  [feature]="selectedFeature"
  (saveEditRequest)="saveEdit()"
  (cancelEditRequest)="cancelEdit()"
  (editFeatureRequest)="editFeature()"
  (closeMenuRequest)="hideMenu()"
></bim-boundary-post>
<div id="county">{{ hoveredCounty }}</div>
