<!-- <div class="map"
     id="map"></div> -->

<mgl-map [style]="'mapbox://styles/mapbox/streets-v9'"
         [zoom]="[9]"
         [center]="center"
         (load)="mapLoaded($event)"
         [fitBounds]="bounds">
    <mgl-layer *ngIf="source"
               id="boundaries"
               type="fill"
               [source]="source"
               [paint]="{
                    'fill-color': 'rgba(200, 100, 240, 0.4)',
                    'fill-outline-color': 'rgba(200, 100, 240, 1)'
                }">
    </mgl-layer>
    <button>edit mode</button>
</mgl-map>