@import "../../../sass/vars.scss";
@import "../../../sass/mixins.scss";

#ui-container {
	#logo {
		display: none;
		@include position(fixed, top 20px left 20px);
		box-shadow: 2px 2px 4px 0 rgba(0,0,0,0.50);
		cursor: pointer;
		border-radius: 100%;
		// media queries for the logo in top left corner of app
		@include respond-to($tablet-portrait-up) {
			@include size(70px,70px);
		}
	}

	#lock-filter-container {
		width: 55px;
		@include position(fixed, top 150px left 10px);
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-content: center;
		// media queries for the locl-filter container
		@include respond-to($tablet-portrait-up) {
			@include position(fixed, top 180px left 20px);
		}
		button {
			@include size(50px);
			border-radius: 50%;
			background-color: $primary;
			transition: background-color ease-in-out .15s, border ease-in-out .15s;
			margin-bottom: 20px;
			box-shadow: 2px 2px 4px 0 rgba(0,0,0,0.50);
			border: none;
			color: $light;
			font-size: 16px;
			cursor: pointer;
			&:hover, &.active {
				// border: 3px solid #fafafa;
				background-color: $secondary;
			}
			// Media queries for mapbox buttons
			@include respond-to($tablet-portrait-up) {
				@include size(60px);
				font-size: 14px;
			}
		}
	}
	.navbar-container {
		@include position(fixed, top 10px left 10px);

		@include respond-to($tablet-portrait-up) {
			@include position(fixed, top 20px left 20px);
		}
	}
} 