<div id="ui-container">
  <!-- Logo that sits in the top left corner of the page -->
  <img id="logo"
       src="../assets/bim-icon.png"
       alt="Bim Earth Icon">
  <!-- This container holds the lock/unlock button as well as the filter button -->
  <div id="lock-filter-container">
    <!-- Lock/Unlock Button -->
    <!-- TODO: once functionality is set in place have ui component toggle a close lock icon-->
    <button type="button"
            name="trash"
            (click)="toggleDelete()"
            [class.active]="isDeleting">
      <i class="fas fa-trash"></i>
    </button>
    <!-- Filter Button -->
    <button type="button"
            name="filter">
      <i class="fas fa-filter"></i>
    </button>
  </div>
  <!-- This container holds the nav bar -->
  <div class="navbar-container">
    <bim-nav></bim-nav>
    <bim-account-btns></bim-account-btns>
  </div>
</div>