@import "../../../sass/vars.scss";
@import "../../../sass/mixins.scss";
.nav-container {

	.searchbar { 
		position: relative;
		&.clicked {
			.btn-search {
				border-radius: 40px 0px 0px 40px;
				background-color: $secondary;
			}
			.btn-extended{
				width: 250px;
				padding: 0 0 0 60px;
				opacity: 1;
				@include respond-to($tablet-portrait-up) {
					width: 475px;
				}
				@include respond-to($desktop-up) {
					width: 600px;
				}
			}
		}
		.btn-search {
			@include position(absolute, top 50% left 50%);
			background-color: $primary;
			color: $light;
			@include size(50px);
			border-radius: 40px;
			cursor: pointer;
			transition: all 0.3s ease-in-out;
			display: flex;
			justify-content: center;
			align-items: center;
			font-size: 26px;
			&:hover {
				background-color: $secondary;
			}
			@include respond-to($tablet-portrait-up) {
				@include size(60px);
				font-size: 30px;
			}
		}
		.btn-extended {
			@include position(absolute, top 50% left 50%);
			@include size(0px, 50px);
			border-radius: 40px;
			font-size: 16px;
			border: none;
			opacity: 0;
			transition: all 0.3s ease-in-out;
			&:focus {
				outline-width: 0px;
			}
			@include respond-to($tablet-portrait-up) {
				@include size(0px, 60px);
			}
		}
	}






































	// .search-btn {
	// 	@include size(37px, 37px);
	// 	background-color: $light;
	// 	border-radius: 5px 0px 0px 5px;
	// 	font-size: 26px;
	// 	cursor: pointer;
	// 	align-self: center;
	// 	transition: background-color ease-in-out .15s, color ease-in-out .15s;

	// 	.search-icon {
	// 		color: $dark;
	// 	}
	// 	&:hover {
	// 		background-color: $primary;
	// 		.search-icon {
	// 			color: $light;
	// 		}
	// 	}

	// }

	// .search-input {
	// 	@include size(35px, 600px);
	// 	font-family: 'Ubuntu', sans-serif;
	// 	text-decoration: none;
	// 	background-color: $light;
	// 	font-size: 18px;
	// 	border-radius: 0px 5px 5px 0px; 
	// 	border: none;
	// 	box-shadow: 1px 1px 2px 0 rgba(0,0,0,0.50);
	// 	padding: 0;
	// 	align-self: center;
	// 	color: $dark;
	// 	padding-left: 10px;
	// 	&:focus {
	// 		border: none;
	// 	}
	// 	// media queries for search-input
	// 	@include respond-to($tablet-portrait-up) {
	// 		@include size(35px, 300px);
	// 	}
	// 	@include for-phone-only {
	// 		@include size(35px, 250px);
	// 	}
	// }

	// media queries for nav container
}