form {
  width: 225px;
  background-color: white;
  height: 60px;
  border-radius: 0px 40px 40px 0px;
  padding-left: 10px;
}
mat-form-field {
  width: 215px;
  input {
    text-transform: uppercase;
  }
} 