<mat-expansion-panel (click)="checkView()">
  <mat-expansion-panel-header>
    <mat-panel-title>
      {{ title }}
    </mat-panel-title>
    <mat-panel-description>
      {{ postDate }}
    </mat-panel-description>
  </mat-expansion-panel-header>
  <h4 class="author">Posted By {{ authorName }}</h4>
  <div *ngIf="imagesLoaded" class="images-container">
    <img *ngIf="headerImage" class="main-image" [src]="headerImage.url" alt="image">
    <div class="picture-box">
        <a *ngFor="let image of images" class="img-thumbnail">
          <img [src]="image.url" alt="image">
        </a>
    </div>
  </div>
  <div class="post-body-text">
    {{ postBody }}
  </div>
  <div *ngIf="filesLoaded" class="download-btns">
    <h4>Files Avaiable for Download</h4>
    <a *ngFor="let file of files" [href]="file.url">
      <button mat-raised-button color="primary">{{ file.name }}</button>
    </a>
  </div>
</mat-expansion-panel>